<!doctype html>
<html>
  <head>
    <title>the noodle files</title>
    <style>
      p {
        font-family: georgia;
        font-size: 12px;
        letter-spacing: 2px;
        color: #ababab;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <div>
      <p>Hi, welcome to the Noodle Files.</p>
      <p align="center">Noodle. A flat carbohydrate.<br>
      It is often composed of wheat or rice meal.<br>
      In addition to providing a stellar source of nutrition,<br>
      the noodle is also a source of great joy for both its proprietors as well as its consumers.
      Click <span style="color: #f82c9d">here</span> to learn more about the noodle.</p>
    </div>
  </body>
</html>
